@media  only screen and (min-width: 480px) {
	body {
		font: 18px/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	}
	.title {
		font-size: 2.2em !important;
	}
	header {
		height: 56px !important;
		line-height: 56px !important;
	}
	.menu {
		font-size: 2.2em !important;
		line-height: 56px !important;
	}
	.icon {
		font-size: 2.2em !important;
	}
	abbr, p {
		font-size: 1.5em !important;
	}
	.bar {
		height: 10px !important;
	}
	.notification .window.success, .notification .window.error, .notification .window.confirm, .notification .window.html {
		width: 360px !important;
	}
	body .text.bold {
		font-size: 20px !important;
	}
	form input:not([type="checkbox"]), .form input:not([type="checkbox"]), 
	form textarea, .form textarea, form select, .form select, 
	form .progress, .form .progress, form label.select, .form label.select, 
	form [data-control-progress], .form [data-control-progress] {
		font-size: 1.5em !important;
	}
	form fieldset > label:not(.select), .form fieldset > label:not(.select) {
		font-size: 1.5em !important;
	}
	form fieldset > label:not(.absolute) + input[type="checkbox"], .form fieldset > label:not(.absolute) + input[type="checkbox"] {
		margin-top: 2em !important;
	}
}
.fondo{
	width: 100%; height: 100%;
	background-image: url(fondoNube.png); /* Tamaño de la imagen 640x960 pixels */
	background-size: cover;
}